* {
    overflow-wrap: break-word;
    box-sizing: border-box;
}

#joplin-plugin-content {
    width: 900px;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
}

li {
    padding: 10px;
    cursor: pointer;
} li:hover { background-color: rgba(0, 0, 0, 0.3); }

.selected {
    background-color: rgba(0, 0, 0, 0.2);
}
